body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:20px;
  width:740px;
  height:120px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:44px;
  width:736px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:180px;
  width:740px;
  height:530px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:530px;
}
#u3 {
  position:absolute;
  left:2px;
  top:257px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:327px;
  top:200px;
  width:203px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:110px;
  top:284px;
  width:60px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:284px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:110px;
  top:334px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:200px;
  top:330px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:110px;
  top:374px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:200px;
  top:365px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:110px;
  top:404px;
  width:52px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:200px;
  top:404px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:410px;
  top:413px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:110px;
  top:444px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:190px;
  top:444px;
  width:60px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:270px;
  top:444px;
  width:60px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:350px;
  top:444px;
  width:60px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:110px;
  top:494px;
  width:53px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:190px;
  top:494px;
  width:110px;
  height:56px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:56px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:350px;
  top:630px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:60px;
  top:720px;
  width:740px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:736px;
  word-wrap:break-word;
}
